.demo-layout-transparent {
	background-color: #FFCD70;
}

.mdl-layout__content {
	background-color: #FFEF92;
}

.polytable {
	border-collapse: collapse;
	border: 1px black solid;
	float: left;
}

.polytable td {
	width: 32px;
	height: 32px;
	border: 1px black solid;
}

.empty-cell {
	background-color: white;
}

.border-cell {
	background-color: black;
}

.polyomino-area {
	padding: 0 32px 32px;
}

.statistic {
	align-items: center;
	font-size: 17px;
}

table.piece {
	border-collapse: collapse;
	margin: 0 8px 8px;
	cursor: pointer;
	float: left;
}

.piece td {
	width: 32px;
	height: 32px;
}

.solutionArea {
	margin: 32px 0;
	position: relative;
	width: 100%;
}

.solutionArea:after {
	content: '';
	clear: both;
	display: block;
}

.menu {
	display: flex;
	padding: 32px 0;
}

.price {
	line-height: 40px;
	font-size: 17px;
}

.star {
	font-size: 19px;
}

.menu button {
	margin: 0 0 0 32px;
}